.btn:not(.custom) {
  column-gap: 8px;
}

.btn {
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
  touch-action: manipulation;
  transition: opacity 0.3s ease;

  .buttonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & svg {
    width: 20px;
    height: 20px;
  }

  &.fullWidth {
    width: 100%;
  }

  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }

  &.loading {
    .buttonIcon {
      visibility: hidden;
    }

    .buttonText {
      visibility: hidden;
    }
  }

  @keyframes spinner {
    12% {
      transform: rotate(45deg);
    }

    25% {
      transform: rotate(90deg);
    }

    38% {
      transform: rotate(135deg);
    }

    50% {
      transform: rotate(180deg);
    }

    62% {
      transform: rotate(225deg);
    }

    75% {
      transform: rotate(270deg);
    }

    87% {
      transform: rotate(315deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .buttonSpin {
    position: absolute;
    top: 25%;
    left: auto;
    animation: spinner 2s infinite;
  }
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 8%);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  border-radius: 40px;
}

.btn:hover::before {
  opacity: 1;
}

.btn:disabled.disabled:hover::before {
  opacity: 0;
}

.btn.outline:hover::before {
  opacity: 0;
}

.btn.custom:hover::before {
  opacity: 0;
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 4%);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  border-radius: 40px;
}

.btn:active::after {
  opacity: 1;
}

.btn:disabled.disabled:active::after {
  opacity: 0;
}

.btn.outline:active::after {
  opacity: 0;
}

.btn.custom:active::after {
  opacity: 0;
}

.s {
  padding: 8px 24px;
  height: 40px;
}

.m {
  padding: 12px 24px;
  height: 48px;
}

.l {
  padding: 16px 24px;
  height: 56px;
}

.primary {
  background-color: var(--button_primary);
  color: var(--text_inverted);

  svg path {
    fill: var(--text_inverted);
    stroke: var(--text_inverted);
  }

  [aria-disabled='true'],
  &:disabled,
  .disabled {
    background: var(--neutral_90);
    color: var(--text_disable);
  }
}

.secondary {
  background-color: var(--button_secondary);
  color: var(--text_secondary);

  svg path {
    fill: var(--text_secondary);
    stroke: var(--text_secondary);
  }

  [aria-disabled='true'],
  &:disabled,
  .disabled {
    background: var(--neutral_90);
    color: var(--text_disable);
  }
}

.tertiary {
  background-color: var(--block_btn);
  color: var(--text_primary);

  svg path {
    fill: var(--text_primary);
    stroke: var(--text_primary);
  }

  &:hover {
    color: var(--text_secondary);

    svg path {
      fill: var(--text_secondary);
      stroke: var(--text_secondary);
    }
  }

  &:active {
    color: var(--text_secondary);

    svg path {
      fill: var(--text_secondary);
      stroke: var(--text_secondary);
    }
  }

  [aria-disabled='true'],
  &:disabled,
  .disabled {
    color: var(--text_disable);
  }
}

.stroked {
  background: none;
  color: var(--text_primary);
  outline: 1px solid var(--text_primary);

  svg path {
    fill: var(--text_primary);
    stroke: var(--text_primary);
  }

  [aria-disabled='true'],
  &:disabled,
  .disabled {
    color: var(--text_disable);
    outline: 1px solid var(--text_disable);
  }
}

.stroked_light {
  padding: 8px 24px;
  background: none;
  color: var(--text_primary);
  outline: 1px solid var(--border_secondary);

  svg path {
    fill: var(--text_primary);
    stroke: var(--text_primary);
  }

  [aria-disabled='true'],
  &:disabled,
  .disabled {
    color: var(--text_disable);
    outline: 1px solid var(--text_disable);
  }
}

.outline_small {
  padding: 0;
  background: none;
  color: var(--text_primary);

  &:disabled {
    background: none;
  }
}

.outline {
  background: none;
  color: var(--text-icon-primary);

  svg path {
    fill: var(--text_primary);
    stroke: var(--text_primary);
  }

  [aria-disabled='true'],
  &:disabled,
  .disabled {
    background: none;
    color: var(--text_disable);
  }
}

.blacked {
  background: var(--text_primary);
  color: var(--neutral_10);

  svg path {
    fill: var(--text_primary);
    stroke: var(--text_primary);
  }

  [aria-disabled='true'],
  &:disabled,
  .disabled {
    background: none;
    color: var(--text_disable);
  }
}


:disabled.disabled {
  cursor: unset;

  svg path {
    fill: var(--text_disable);
    stroke: var(--text_disable);
  }
}

.advertisement {
  background-color: var(--aurora_neutral_25);
  color: var(--aurora_text_primary);
  padding: 12px;

  &:hover {
    background-color: var(--aurora_neutral_30);
  }

  &:active {
    background-color: var(--aurora_neutral_30);
  }

  [aria-disabled='true'],
  &:disabled,
  .disabled {
    background-color: var(--aurora_neutral_25);
  }

  @include respond(tabletS) {
    max-width: 46px;
    padding: 11px;
  }

  .buttonText {
    @include respond(tabletS) {
      display: none;
    }
  }

  .buttonIcon {
    @include respond(tabletS) {
      margin-right: unset;
      margin-left: unset;
    }
  }
}

.black {
  background-color: var(--text_primary);
  color: var(--text_inverted);

  svg path {
    fill: var(--text_inverted);
    stroke: var(--text_inverted);
  }

  [aria-disabled='true'],
  &:disabled,
  .disabled {
    background: var(--neutral_90);
    color: var(--text_disable);
  }
}
