
.typography {
  line-height: 110%;

  &.display_large {
    font-weight: 700;
    font-size: 68px;
    line-height: 80px;

    @include respond(laptopM) {
      font-size: 64px;
      line-height: 76px;
    }

    @include respond(tablet) {
      font-size: 38px;
      line-height: 46px;
    }

    &.disabled__mediaQueryProps {
      font-weight: 700;
      font-size: 68px;
      line-height: 80px;
    }
  }

  &.display_medium {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;

    @include respond(laptopM) {
      font-size: 52px;
      line-height: 60px;
    }

    @include respond(tablet) {
      font-size: 36px;
      line-height: 42px;
    }

    &.disabled__mediaQueryProps {
      font-weight: 700;
      font-size: 60px;
      line-height: 72px;
    }
  }

  &.h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;

    @include respond(laptopM) {
      font-size: 44px;
      line-height: 56px;
    }

    @include respond(tablet) {
      font-size: 34px;
      line-height: 40px;
    }

    &.disabled__mediaQueryProps {
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
    }
  }

  &.h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;

    @include respond(laptopM) {
      font-size: 38px;
      line-height: 48px;
    }

    @include respond(tablet) {
      font-size: 32px;
      line-height: 38px;
    }

    &.disabled__mediaQueryProps {
      font-weight: 700;
      font-size: 42px;
      line-height: 52px;
    }
  }

  &.h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    @include respond(laptopM) {
      font-size: 32px;
      line-height: 42px;
    }

    @include respond(tablet) {
      font-size: 30px;
      line-height: 36px;
    }

    &.disabled__mediaQueryProps {
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
    }
  }

  &.h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;

    @include respond(laptopM) {
      font-size: 32px;
      line-height: 42px;
    }

    @include respond(tablet) {
      font-size: 28px;
      line-height: 34px;
    }

    &.disabled__mediaQueryProps {
      font-weight: 700;
      font-size: 36px;
      line-height: 46px;
    }
  }

  &.h5_b {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    @include respond(laptopM) {
      font-size: 32px;
      line-height: 40px;
    }

    @include respond(tablet) {
      font-size: 26px;
      line-height: 36px;
    }

    &.disabled__mediaQueryProps {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
    }
  }

  &.h6_b {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;

    @include respond(laptopM) {
      font-size: 22px;
      line-height: 32px;
    }

    @include respond(tablet) {
      font-size: 20px;
      line-height: 28px;
    }

    &.disabled__mediaQueryProps {
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
    }
  }

  &.h5_sb {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    @include respond(laptopM) {
      font-size: 32px;
      line-height: 40px;
    }

    @include respond(tablet) {
      font-size: 26px;
      line-height: 36px;
    }

    &.disabled__mediaQueryProps {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
    }
  }

  &.h6_sb {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;

    @include respond(laptopM) {
      font-size: 22px;
      line-height: 32px;
    }

    @include respond(tablet) {
      font-size: 20px;
      line-height: 28px;
    }

    &.disabled__mediaQueryProps {
      font-weight: 600;
      font-size: 24px;
      line-height: 34px;
    }
  }

  &.h5_r {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    @include respond(laptopM) {
      font-size: 32px;
      line-height: 40px;
    }

    @include respond(tablet) {
      font-size: 26px;
      line-height: 36px;
    }

    &.disabled__mediaQueryProps {
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
    }
  }

  &.h6_r {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    @include respond(laptopM) {
      font-size: 22px;
      line-height: 32px;
    }

    @include respond(tablet) {
      font-size: 20px;
      line-height: 28px;
    }

    &.disabled__mediaQueryProps {
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
    }
  }

  &.p1_sb {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  &.p1_r {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  &.p2_sb {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &.p2_m {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &.p2_r {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &.p3_sb {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }

  &.p3_m {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  &.p3_r {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  &.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.12px;

    @include respond(laptopM) {
      line-height: 20px;
    }

    &.ignoreMediaQuery {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &.small_button {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    &.ignoreMediaQuery {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &.link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    &.ignoreMediaQuery {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &.link_small {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    &.ignoreMediaQuery {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &.code {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &.ignoreMediaQuery {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &.tag {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;

    &.ignoreMediaQuery {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &.c1_sb {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  &.c1_r {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  &.tapBar_menu {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;

    @include respond(tablet) {
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
    }

    &.disabled__mediaQueryProps {
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
    }
  }

  &.fontWeight {
    &_100 {
      font-weight: 100;
    }

    &_200 {
      font-weight: 200;
    }

    &_300 {
      font-weight: 300;
    }

    &_400 {
      font-weight: 400;
    }

    &_500 {
      font-weight: 500;
    }

    &_600 {
      font-weight: 600;
    }

    &_700 {
      font-weight: 700;
    }

    &_800 {
      font-weight: 800;
    }

    &_900 {
      font-weight: 900;
    }
  }

  &.textTransform {
    &_uppercase {
      text-transform: uppercase;
    }

    &_lowercase {
      text-transform: lowercase;
    }

    &_capitalize {
      text-transform: capitalize;
    }

    &_fullWidth {
      text-transform: full-width;
    }
  }

  &.textDecoration {
    &_underline {
      text-decoration: underline;
    }

    &_overline {
      text-decoration: overline;
    }

    &_lineThrough {
      text-decoration: line-through;
    }
  }

  &.textWrap {
    &_wrap {
      text-wrap: wrap;
    }

    &_nowrap {
      text-wrap: nowrap;
    }

    &_balance {
      text-wrap: balance;
    }

    &_pretty {
      text-wrap: pretty;
    }
  }

  &.disabled__rtl {
    direction: ltr;
  }
}
