body {
  // STATIC * STATIC * STATIC * STATIC * STATIC * STATIC * STATIC * STATIC * STATIC * STATIC * STATIC * STATIC * STATIC * STATIC
  --white: #fcfdff;
  --black: #131c26;

  // LIGHT THEME * LIGHT THEME * LIGHT THEME * LIGHT THEME * LIGHT THEME * LIGHT THEME * LIGHT THEME * LIGHT THEME * LIGHT THEME

  // TEXT AND ICON
  --text_primary: #181d27;
  --text_secondary: #535862;
  --text_tertiary: #c0c0c0;
  --text_disable: #a4a7ae;
  --text_inverted: #fafcff;

  // TEXT AND ICON [END]

  // MAIN
  --main: #f21818;

  // MAIN [END]

  // BUTTON
  --button_primary: #f21818;
  --button_secondary: #f5f5f5;
  --black_gray: #333;
  // BUTTON [END]

  // SPECIALS
  --special_red: #f2183d;
  --special_orange: #f8a532;
  --special_green: #12b76a;
  --special_blue: #5b89ff;
  --special_blue_bg1: #dfe8ff;
  --special_red_bg1: #f2b5c0;
  --special_red_bg2: #fef3f2;
  --special_green_bg: #62d99d;
  --special_green_bg1: #98d9b8;
  --special_green_bg2: #e8faf3;
  --special_orange_bg1: #f8d9ae;
  --special_orange_bg2: #fcf5ea;
  --special_purple: #7a45e5;
  --special_purple_bg1: #e9dffc;
  --special_orange_bg3: rgb(255 166 77 / 6%);
  --special_green_bg3: rgb(58 194 112 / 24%);
  --special_red_bg3: rgb(255 166 77 / 24%);

  // SPECIALS [END]

  // NEUTRAL
  --neutral_5: #efefef;
  --neutral_10: #ffffff;
  --neutral_20: #fdfdfd;
  --neutral_25: #fafafa;
  --neutral_30: #f5f5f5;
  --neutral_40: #e9eaed;
  --neutral_50: #d5d7da;
  --neutral_60: #a4a7ae;
  --neutral_70: #717680;
  --neutral_80: #535862;
  --neutral_90: #f5f5f5;
  --neutral_100: #e9eaeb;
  --neutral_black: #1E1E1E;
  // NEUTRAL [END]

  // BORDERS
  --border_primary: #e9eaeb;
  --border_secondary: #dfe3eb;
  --border_active: #181d27;

  // ELEMENTS ACTIVE
  --el_active_default: #181d27;
  --el_active_hover: #2e2f33;
  --el_active_pressed: #3d3d40;
  --el_active_disabled: #8f9197;
  --el_active_color_inside: #fff;
  --el_active_disabled_color_inside: #d5d8de;

  // ELEMENTS ACTIVE [END]

  // ELEMENTS INACTIVE
  --el_inactive_default: #adaeb6;
  --el_inactive_hover: #8b8d93;
  --el_inactive_pressed: #828389;
  --el_inactive_disabled: #8f9197;
  --el_inactive_color_inside: #fff;
  --el_inactive_disabled_color_inside: #d5d8de;

  // ELEMENTS INACTIVE [END]

  // MODAL
  --modal_primary: #fff;
  --modal_bg: rgb(18 19 26 / 54%);

  // MODAL[END]

  // MODAL[END]

  // SELECT
  --select_default: #fafafa;
  --select_hover: #f5f6f6;
  --select_item: #eaecef;
  --select_item_hover: #fafcff;
  --select_border: #e1e3e6;

  // SELECT[END]

  // BLOCK
  --trade_spot_blocks: #fff;
  --trade_spot_bg: #f3f3f3;
  --block_bg: #fafafa;
  --block_bg_cards: #fcfeff;
  --block_bg_cards_hover: #f4f5f6;
  --block_bg_cards_item: #f4f5f6;
  --block_bg_cards_hover_item: #0b1426;
  --block_btn: #f7f7f7;
  --block_btn_item: #f4f4f6;
  --block_btn_hover: #0b1426;
  --block_btn_item_hover: #1d1e24;
  --block_payform: #ebebeb;
  --blog_gr: linear-gradient(90deg,
      #f6f6f6 9.52%,
      rgb(246 246 246 / 80%) 51.27%,
      rgb(246 246 246 / 0%) 100%);
  --blog_gr_rtl: linear-gradient(270deg,
      #f6f6f6 9.52%,
      rgb(246 246 246 / 80%) 51.27%,
      rgb(246 246 246 / 0%) 100%);
  --block_gr: linear-gradient(90deg,
      #f6f6f6 9.52%,
      rgb(246 246 246 / 80%) 51.27%,
      rgb(244 245 246 / 0%) 100%);
  --block_gr_rtl: linear-gradient(270deg,
      #f6f6f6 9.52%,
      rgb(246 246 246 / 80%) 51.27%,
      rgb(244 245 246 / 0%) 100%);

  // BLOCK [END]

  // SUPPORT BUTTON
  --bg_buttonUp: #f6f6f6;

  // SUPPORT BUTTON [END]

  // SUPPORT BUTTON [END]

  // TABLE
  --table_bg: #ffffff;
  --table_items: #f6f6f6;
  --table_hover_stroke: #f4f5f6;
  --table_hover_items: #fcfeff;
  --table_action_btn: #fff;
  --table_action_btn_hover: #181d27;
  --table_icon_default: #f4f5f6;
  --table_icon_hover: #fcfeff;

  // TABLE [END]

  // FOOTER
  --footer_bg: #f4f5f6;
  --footer_btn: #fcfeff;
  --footer_btn_hover: #edeeef;
  --footer_tab_bar: rgb(252 254 255 / 60%);

  // SHADOWS
  --footer_tab_bar_shadow: 0px -0.33px 0px 0px #0000004d;
  --block_shadow: 0px 0px 16px 0px rgb(0 0 0 / 4%), 0px 16px 28px 0px rgb(0 0 0 / 4%);
  --selected_shadow: 0px 8px 43px 0px rgb(0 0 0 / 13%);
  --modal_shadow: 0px 8px 58px 0px rgb(0 0 0 / 16%);
  --cards_shadow: 0px 0px 16px 0px rgb(0 0 0 / 4%), 0px 16px 28px 0px rgb(0 0 0 / 4%);
  --tooltip_shadow: 0px 0px 57px 0px rgb(0 0 0 / 9%), 0px 16px 47px 0px rgb(0 0 0 / 6%);
  --toggle_shadow: 0px 1px 2px 0px rgb(0 0 0 / 24%);

  // SHADOWS [END]

  // OTHERS
  --subheader_bg: #fcfeff;
  --gray: #CCC;

  // OTHERS [END]
  --liner_gradient: #63728c;
  // BACKGROUND
  --bg_primary: #fff;

  // BACKGROUND [END]

  // BACKGROUND BANNER
  --Banner-Gr: linear-gradient(180deg, var(--Neutral-70, #717680) 0%, #63728c 100%);

  // DARK THEME * DARK THEME * DARK THEME * DARK THEME * DARK THEME * DARK THEME * DARK THEME * DARK THEME * DARK THEME   ||||| NO IT THIS MOMENT, MAY WILL BE IN FUTURE

  /* &.dark {
    // TEXT AND ICON
    --text_primary: #fafcff;
    --text_secondary: #aaaeb2;
    --text_tertiary: #85898c;
    --text_disable: #797c80;
    --text_inverted: #090e12;

    // TEXT AND ICON [END]

    // MAIN
    --main: #f21818;

    // MAIN [END]

    // BUTTON
    --button_primary: #f21818;
    --button_secondary: #660a11;

    // BUTTON [END]

    // SPECIALS
    --special_red: #f2183d;
    --special_orange: #f8a532;
    --special_green: #12B76A;
    --special_blue: #5b89ff;
    --special_blue_bg1: #17223e;
    --special_red_bg1: #800d20;
    --special_red_bg2: #3d060f;
    --special_green_bg: #62d99d;
    --special_green_bg1: #18603c;
    --special_green_bg2: #0c2f1d;
    --special_orange_bg1: #805519;
    --special_orange_bg2: #402b0d;
    --special_purple: #7a45e5;
    --special_purple_bg1: #1b0f33;
    --special_orange_bg3: rgb(255 61 77 / 24%);
    --special_green_bg3: rgb(58 194 112 / 24%);
    --special_red_bg3: rgb(255 166 77 / 24%);

    // SPECIALS [END]

    // NEUTRAL
    --neutral_10: #090e12;
    --neutral_20: #161819;
    --neutral_25: #242526;
    --neutral_30: #303234;
    --neutral_40: #535659;
    --neutral_50: #5f6266;
    --neutral_60: #777b80;
    --neutral_70: #9aa0a6;
    --neutral_80: #fafbfc;
    --neutral_90: rgb(119 123 128 / 25%);
    --neutral_100: rgb(119 123 128 / 35%);

    // NEUTRAL [END]

    // BORDERS
    --border_primary: #303233;
    --border_secondary: #242526;
    --border_active: #f5f7fa;

    // BORDERS [END]

    // ELEMENTS ACTIVE
    --el_active_default: #fcfdff;
    --el_active_hover: #e3e4ea;
    --el_active_pressed: #d7d8dd;
    --el_active_disabled: #58595d;
    --el_active_color_inside: #090e12;
    --el_active_disabled_color_inside: #303234;

    // ELEMENTS ACTIVE [END]

    // ELEMENTS INACTIVE
    --el_inactive_default: #636468;
    --el_inactive_hover: #797a80;
    --el_inactive_pressed: #8c8e94;
    --el_inactive_disabled: #58595d;
    --el_inactive_color_inside: #090e12;
    --el_inactive_disabled_color_inside: #303234;

    // ELEMENTS INACTIVE [END]

    // MODAL
    --modal_primary: #242526;
    --modal_bg: #ffffff;

    // MODAL[END]

    // MODAL[END]

    // SELECT
    --select_default: #282a2c;
    --select_hover: #2e3033;
    --select_item: #333538;
    --select_item_hover: #3b3e42;
    --select_border: #36393c;

    // SELECT[END]

    // BLOCK
    --trade_spot_blocks: #191919;
    --trade_spot_bg: #0a0a0a;
    --block_bg: #161819;
    --block_bg_cards: #212325;
    --block_bg_cards_hover: #26282a;
    --block_bg_cards_item: #333538;
    --block_bg_cards_hover_item: #fafcff;
    --block_btn: #212225;
    --block_btn_item: #333438;
    --block_btn_hover: #fcfdff;
    --block_btn_item_hover: #e5e6ec;
    --block_payform: #373737;
    --block_trade_gr: linear-gradient(90deg, #191919 0%, #191919 51.27%, rgb(25 25 25 / 0%) 100%);
    --block_trade_gr_rtl: linear-gradient(
      270deg,
      #191919 0%,
      #191919 51.27%,
      rgb(25 25 25 / 0%) 100%
    );
    --blog_gr: linear-gradient(90deg, #191919 0%, #191919 51.27%, rgb(25 25 25 / 0%) 100%);
    --blog_gr_rtl: linear-gradient(270deg, #191919 0%, #191919 51.27%, rgb(25 25 25 / 0%) 100%);
    --block_gr: linear-gradient(90deg, #191919 0%, #191919 51.27%, rgb(13 18 25 / 0%) 100%);
    --block_gr_rtl: linear-gradient(270deg, #191919 0%, #191919 51.27%, rgb(13 18 25 / 0%) 100%);

    // SUPPORT BUTTON
    --bg_buttonUp: #292929;

    // SUPPORT BUTTON [END]

    // SUPPORT BUTTON [END]

    // TABLE
    --table_bg: #161819;
    --table_items: #26282a;
    --table_hover_stroke: #212325;
    --table_hover_items: #333538;
    --table_action_btn: #333538;
    --table_action_btn_hover: #fafcff;
    --table_icon_default: #212325;
    --table_icon_hover: #333538;

    // TABLE [END]

    // FOOTER
    --footer_bg: #141719;
    --footer_btn: #1e2325;
    --footer_btn_hover: #252b2e;
    --footer_tab_bar: rgb(20 23 25 / 40%);

    // SHADOWS
    --footer_tab_bar_shadow: 0px -0.33px 0px 0px #ffffff4d;
    --block_shadow: 4px 4px 16px 6px rgb(0 0 0 / 28%);
    --selected_shadow: 4px 4px 16px 6px rgb(0 0 0 / 14%);
    --modal_shadow: 4px 4px 16px 6px rgb(0 0 0 / 28%);
    --cards_shadow: 4px 4px 16px 6px rgb(0 0 0 / 28%);
    --tooltip_shadow: 4px 4px 16px 6px rgb(0 0 0 / 28%);
    --toggle_shadow: 0px 1px 2px 0px rgb(0 0 0 / 24%);

    // SHADOWS [END]

    // OTHERS
    --subheader_bg: #141719;

    // OTHERS [END]

    // BACKGROUND
    --bg_primary: #0a0a0a;
    --bg_hide: rgb(120 120 120 / 80%);

    // BACKGROUND [END]
  } */
}
