.toast {
  width: fit-content;
  height: fit-content;
  max-width: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 16px;

  @include respond(tablet) {
    margin-inline-end: 16px;
  }

  @include respond(tabletS) {
    top: 20px;
    right: env(safe-area-inset-right);
    left: initial;
  }

  @include respond(mobileL) {
    max-width: calc(100% - 32px);
  }

  @include respond(tabletS) {
    @include rtl {
      right: initial;
      left: calc(env(safe-area-inset-right));
    }
  }

  &.dark {
    :global {
      .Toastify__toast {
        box-shadow: 4px 4px 16px 6px rgb(0 0 0 / 28%);
      }
    }
  }

  .close {
    position: absolute;
    right: 12px;

    @include respond(tabletS) {
      top: 24px;
    }
  }

  :global {
    .Toastify__toast {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--white);
      color: var(--text_primary);
      column-gap: 24px;
      max-width: 708px;
      border-radius: 12px;
      min-height: 74px;
      padding: 16px 12px;
      box-shadow:
        0 0 4px 0 rgb(89 102 132 / 6%),
        0 8px 24px 0 rgb(89 102 132 / 12%);
    }

    .Toastify__toast-container {
      width: fit-content;
    }

    .Toastify__toast-body {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      @include respond(tabletS) {
        align-items: start;
      }
    }

    .Toastify__toast-icon {
      width: 32px;
      height: 32px;
      color: var(--text_primary);
    }

    .Toastify__slide-enter--top-right,
    .Toastify__slide-enter--top-left,
    .Toastify__slide-exit--top-right,
    .Toastify__slide-exit--top-left {
      animation-duration: 0.3s !important;
    }
  }
}
